/* style page for Hot or Not Superhero Edition! */
body {
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
}
.container {
    width: 100%;
    color: white;
}

#title {
    padding: 1%;
    margin: 0.5% 0% 0.5% 0%;
    object-fit: cover;
    align-content: center;
}

#title h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
}

#loginBoard {
    padding: 1%;
}

#instructions h2 {
    font-size: 1.75vw;
    text-align: center;
    line-height: 60px;
    color: black;
    background-color: whitesmoke;
    padding: 1%;
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 15px;
    margin: 0.5% 0% 0.5% 0%;
}

#player {
    text-align: center;

}

#loginImage {
    padding: 1%;
    margin: 0.5% 0% 0.5% 0%;
    object-fit: cover;
}

#loginSelect {
    padding: 1%;
    border: solid;
    border-color: rgb(160, 12, 12);
    background-color: rgb(160, 12, 12);
    color: white;
    text-align: center;
    border-width: 1px;
    border-radius: 15px;
    margin: 0.5% 0% 0.5% 0%;
}

#loginSelectList {
    padding: 1%;
    border: solid;
    border-color: gray;
    background-color: gray;
    border-width: 1px;
    border-radius: 15px;
    margin: 0.5% 0% 0.5% 0%;
}

#loginTribe {
    padding: 1%;
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 15px;
    margin: 0.5% 0% 0.5% 0%;
    font-size: 3vw;
    object-fit: cover;
}

#loggedIn {
    width: 100%;
    background-color: rgb(160, 12, 12);
    color: white;
    text-align: center;
    padding: 1%;
    border: solid;
    border-color: rgb(160, 12, 12);
    border-width: 1px;
    border-radius: 15px;
    margin: 0.5% 0% 0.5% 0%;
}

#players-title {
    padding: 1%;
    border: solid;
    border-color: gray;
    background-color: gray;
    border-width: 1px;
    border-radius: 15px;
    margin: 0.5% 0% 0.5% 0%;
}

#round-num {
    padding: 1%;
    border: solid;
    border-color: gray;
    background-color: gray;
    border-width: 1px;
    border-radius: 15px;
    margin: 0.5% 0% 0.5% 0%;
}

#loginFooter {
    width: 100%;
    background-color: rgb(160, 12, 12);
    border-color: rgb(160, 12, 12);
    color: white;
    text-align: center;
    border-radius: 15px;
    padding: 1%;
    margin: 0.5% 0% 0.5% 0%;
}

#gameFooter h2 {
    font-size: 1vw;
    color: whitesmoke;
    text-align: center;
    margin: 0.5% 0% 0.5% 0%;
}

/* Select Screen */
#character-tbl {
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

/* Media queries */

/* if screen width is no more than 980px then apply these below */
@media screen and (min-width: 769px) and (max-width: 980px) {
    #title h1 {
        font-size: 3vw;
    }

    #instructions h2 {
        font-size: 2vw;
    }

    #gameFooter h2 {
        font-size: 1vw;
    }
}

/* if screen width is no more than 768px then apply these below */
@media screen and (min-width: 641px) and (max-width: 768px) {
    #title h1 {
        font-size: 3vw;
    }
    #instructions h2 {
        font-size: 2vw;
    }
    #gameFooter h2 {
        font-size: 2vw;
    }
}
  
/* if screen width is no more than 640px then apply these below */
@media screen and (max-width: 640px) {
    #title h1 {
        font-size: 3vw;
    }

    #instructions h2 {
        font-size: 2vw;
    }

    #gameFooter h2 {
        font-size: 2vw;
    }
}  